<div class="custom-ajax-addtocart">
  {% for variant in product.variants %}
  <input type="hidden" id="getvarid" value="{{ variant.id }}">
    {% endfor %}
  <button type="button" name="add" id="collection-cart-{{ product.id }}"> add to cart</button>
</div>
{% comment %}
<script>
  $(document).on('click', '#collection-cart-{{ product.id }}', function(){
    let vargetid = $(this).parents('.custom-ajax-addtocart').find('#getvarid').val();
    //console.log('ok:'+ vargetid);
    let formobj = {
      quantity: 1,
      id: vargetid
    };
    $.ajax({
      type: "POST",
      url: "/cart/add.js",
      cache: false,
      data: formobj,
      dataType: "json",
      success: function(data){
        console.log('product add to cart success');
        $('.cart-count-bubble').click();
        $('cart-drawer').removeClass('is-empty');
        $('.drawer__inner-empty').hide();
        $('cart-drawer').load(location.href + "#CartDrawer");
        
      },
      error: function(xhr, ajaxOption, thrownError){
        console.log("error in adding product");
      }
    });
 
  });

</script>
{% endcomment %}
<script>
$(document).ready(function() {
    $(document).on('click', '#collection-cart-{{ product.id }}', function(){
        let vargetid = $(this).parents('.custom-ajax-addtocart').find('#getvarid').val();
        let formobj = {
            quantity: 1,
            id: vargetid
        };
        $.ajax({
            type: "POST",
            url: "/cart/add.js",
            cache: false,
            data: formobj,
            dataType: "json",
            success: function(data){
                console.log('Product added to cart successfully');
                $('.cart-count-bubble').click();
                $('cart-drawer').removeClass('is-empty');
                $('.drawer__inner-empty').hide();
                // Refresh the cart drawer content
                $('.drawer').load('/cart #CartDrawer', function() {
                    console.log('Cart drawer content refreshed');
                });
              // Refresh the cart drawer bubble count
                $('.cart-count-bubble').load('/cart .cart-count-bubble', function() {
                    console.log('Cart count bubble refreshed');
                });
            },
            error: function(xhr, ajaxOption, thrownError){
                console.log("Error in adding product");
            }
        });
    });
});
</script>