<div class="custom-ajax-addtocart">
  {% for variant in product.variants %}
  <input type="hidden" id="getvarid" value="{{ variant.id }}">
    {% endfor %}
  <button type="button" name="add" id="collection-cart-{{ product.id }}"> add to cart</button>
</div>

<script>
  $(document).ready(function(){
  $(document).on('click', '#collection-cart-{{ product.id }}', function(){
    
    alert('ok');
  })
  });
</script>