<farhan-slider>
  <div class="myslick-slide">
    <div class="myprojectx" id="tricksil">
      <div class="slider">
     <div class="colx">Farhan working slide 1</div>
     
      <div class="colx">Farhan working slide 2</div>
      
      <div class="colx">Farhan working slide 3</div>
      
      <div class="colx">Farhan working slide 4</div>
      </div>
    </div>
  </div>
</farhan-slider>
<script>
  $(document).ready(function(){
          $('#tricksil').slick({
       
      });
	
  });
</script>
{% schema %}
  {
    "name": "slider-install",
    "settings": [],
      "presets": [
    {
      "name": "slider-install",
      "blocks": [
      
      ]
    }
  ]
  }
{% endschema %}